@charset "UTF-8";

*
{
	box-sizing: border-box;
	outline: none;
	margin:0;
	padding:0;
}
:root
{
	--temarengi:#f2058f;
	--temarengihover:#ff30a5;
	--loginrenk:black;
	--temarengidivler:#eeeeee;
	--arkaplanrenk:#eeeeee;
	--temayazitipi:'Source Sans Pro', sans-serif;
	--navbar:#282A35;
	--baslikrenkleri:#282A35;
	--konumesajrenkleri:#282A35;
}
body
{
	background-color: var(--arkaplanrenk);
}
#bildirimZiliKapsayiciButon
{
	border:none;
	background-color: white;
	position: relative;
}
#bildirimZiliAcilirMenu
{
	border-style: solid;
	border-width: 1px;
	background-color: var(--temarengidivler);
	width: 300px;
	height: 200px;
	position: absolute;
	right: 0px;
	top:31px;
	overflow: auto;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 3px;
}
#bildirimZiliAcilirMenu a
{
	text-align: left;
	color:var(--temarengi);
	padding-right: 5px;
	padding-left:5px;
	font-size:16px;
}
.focus
{
	width:0px;
	height:0px;
	border:none;
}
#ajaxlivesearch
{
	background-color: var(--temarengidivler);
	width: 90%;
	min-height: 150px;
	border-style: solid;
	border-width: 1px;
	border-top-width: 0px;
	border-radius: 5px 5px 0px 0px;
	position: absolute;
	top:41px; /* bootstrap padding'inden dolayı 10px + arama kutusunun height'i 30px = 40px. */
	display: none;
	z-index: 1000;
	word-wrap: break-word;
}
/* ------------------------------------------- index.php başlangıç ------------------------------------------ */
.index-content-div
{
	width: 100%;
	float:left;
}
/* ------------------------------------------- index.php bitiş ------------------------------------------ */
/* ------------------------------------------- masterpage.php başlangıç ------------------------------------------ */
.header
{
	width: 100%;
	height: 50px;
}
.header-yesilbar
{
	width:100%;
	height: 4px;
	background-color: var(--temarengi);
}
.header-logo
{
	width: 150px;
	height: 100%;
	display:block;
	margin:0 auto;
	margin-top: -10px;
}
.header-logoalt
{

	width: 30%;
	height: 100%;
}
.header-aramakutusu
{
	width: 90%;
	padding-top:10px;
	height: 100%;
	display: block;
	margin: 0 auto;
	position: relative;
}
.header-aramakutusu2
{
	width:90%;
	height: 30px;
	border-color:var(--temarengi);
	border-radius: 3px;
	border-width: 0.5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	float: left;
}
.header-aramabutonu
{
	width:27px;
	height: 30px;
	display: inline-block;
	background-image: url("/resimler/logo2.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border:none;
	background-color: var(--temarengi);
	border-top-right-radius: 3px;
	border-bottom-right-radius: 9px;
}
.header-girisvekayitol
{
	width: 90%;
	height: 100%;
	display: block;
	margin: 0 auto;
	padding-top:10px;
}

.header-girisvekayitol ul
{	
	list-style-type: none;
	text-align: center;
	padding-left: 0;
}
.header-girisvekayitol ul li
{
	display: inline;
}
.header-girisvekayitol ul li a
{
	font-family: var(--temayazitipi);
	font-size:16px;
	font-weight: lighter;
	text-decoration: none;
	display: inline-block;
	padding-left:10px;
	color:var(--loginrenk);
}
.header-girisvekayitol ul li a:hover
{
	text-decoration:underline;
}
.header-navbar
{
	width: 100%;
	height: 50px;
}
.yanbar
{
	width: 100%;
	/*height: 100vh;*/
	float: right;
	padding-top: 30px;
	/*position: relative;*/
	position: sticky!important;
	top: 56px;
	
	/*margin-top: 30px;*/
	bottom: 0;
	margin-bottom: 0;
}
.yanbar-gundem
{
	width: 100%;
	height: calc(100vh - 150px);
	overflow-y: scroll; /* overfow scroll'un çalışması için height verilmesi gerekiyor. */
	background-color: var(--temarengidivler);
	float:right;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.yanbar-gundem-baslik
{
	width: 100%;
	height: 50px;
	float:left;
}
.yanbar-gundem-konular
{
	width: 100%;
	display: inline-block;
	margin-top:10px;
	padding-left:5px;
}
.yanbar-butonlar
{
	width:33.3%;
	white-space: nowrap;
	background-color:var(--navbar);
	border:none;
	color:white;
	float: left;
}
.yanbar-butonlar:hover
{
	background-color: var(--temarengi);
}
#yanbar-kategori
{
	position: absolute;
	top:80px;
	width: 100%;
	height: 200px;
	background-color:var(--navbar);
	z-index: 1000;
	display: none;
}
.yanbar-kategoriler
{
	width: 100%;
	display:block;
	border:none;
	background-color:var(--navbar);
	margin:0 auto;
	line-height: 50px;
	color:white; 
	text-decoration: none;
	text-align: center;

}
.yanbar-kategoriler:hover
{
	color:white;
	background-color: var(--temarengi);
}
#mobilkategori
{
	position: absolute;
	width: 250px;
	right: 0;
	background-color:var(--navbar);
	display: none;
	z-index: 1000;
}
#mobilkategori ul
{
	padding:0;
	margin:0;
}
#mobilkategori ul li
{
	list-style-type: none;
}
#mobilkategori ul li a
{
	font-family: var(--temayazitipi);
	display: block;
	margin:0 auto;
	text-decoration: none;
	color:white;
	text-align: center;
	line-height: 50px;
}
#mobilkategori ul li:hover
{
	background-color: var(--temarengi);
}
.yanbar-gundem-konular-mesajsayaci
{
	text-decoration: none;
	color:var(--temarengi);
	float: right;
	width: 10%;
	text-align: center;
}
.yanbar-gundem-konular-mesajsayaci:hover
{
	color:var(--temarengi);
}
.yanbar-gundem-konular ul
{
	width: 90%;
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.yanbar-gundem-konular ul li
{
	
}
.yanbar-gundem-konular ul li a
{
	line-height: 30px;
	display: block;
	text-decoration: none;
	color:#6c6c6c;
	word-wrap: break-word;
	font-family: var(--temayazitipi);
	font-size:14px;
}
.yanbar-gundem-konular ul:hover
{
	background-color: lightgrey;
}
#main-mesajekle-div
{
	width:100%;
	height:200px;
	float: left;
	margin-top:20px;
	border-style: solid;
	border-width: 1px;
	border-color:var(--arkaplanrenk);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#main-mesajekle-baslik
{
	font-family: var(--temayazitipi);
	font-size:20px;
	line-height: 40px;
	text-align: center;
}
#main-mesajekle-form
{
	width: 90%;
	margin:auto;
	height: 50%;
	padding-bottom: 10px;
}
#main-mesajekle
{
	width: 100%;
	height: 100%;
	resize:none; /* textarea'lar icin bir ozellik resize, tutup genisletmeyi onluyor. */
}
#main-mesajekle-buton
{
	float:right;
	width:80px;
	border:none;
	height: 30px;
	background-color: var(--temarengi);
	color:#ffffff;
	margin-top:10px;
}
.main-maincont
{
	width: 100%;
	padding-top: 30px;
}
.main-footer-kapsayicisi
{
	width: 100%;
	float: left;
}
.main-footer
{
	width:100%;
	height: 65px;
	float: left;
	border-style: solid;
	border-width: 1px;
	border-bottom: none;
	border-left:none;
	border-right: none;
	margin-top:20px;
	text-align: center;
}
.main-footer ul
{
	list-style-type: none;
	padding:0;
	margin:0;
}
.main-footer ul li
{
    display: inline;
}
.main-footer ul li a
{
	text-decoration: none;
	color:#6c6c6c;
	padding:1.2%;
	display: inline-block;
}
.main-footer ul li a:hover
{
	text-decoration: underline;
}
#main-reklam-yazisi
{
	font-family: var(--temayazitipi);
	font-weight: bold;
	font-size:30px;
	line-height: 120px;
	text-align: center;
}
#adminpanelegit
{
	width: 100px;
	height: 40px;
	background-color: var(--navbar);
	position: fixed;
	bottom: 0;
	left:0;
	z-index: 1000;
}
#adminpanelegit:hover
{
	background-color: var(--temarengi);
}
#adminpanelegit a
{
	font-family:var(--temayazitipi);
	color: white;
	text-align: center;
	display: block;
	text-decoration: none;
	line-height: 40px;
}
.sagbar
{
	width: 100%;
	margin-top: 30px;
}
.sagbar-yazilar
{
	display:block;
	text-align: left;
	color:#282A35;
	padding-top: 5px;
	font-family: var(--temayazitipi);
	font-size: 14px;
	text-decoration: none;
	padding-left:3px;
	padding-right: 3px;
	margin-top:5px;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.sagbar-yazilar:hover
{
	text-decoration: none;
	color:#282A35;
	background-color: lightgrey;
}
.sagbar-yazilar-baslik
{
	text-align: center;
	background-color: var(--baslikrenkleri);
	color:white;
	line-height: 40px;
	font-family: var(--temayazitipi);
	font-size:14px;
}
.sagbar-div
{
	width: 100%;
	margin-top:20px;
	background-color: var(--temarengidivler);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	word-wrap:break-word;

}
/* ------------------------------------------- masterpage.php bitiş ------------------------------------------- */


/* ------------------------------------------- giris.php, kayitol.php başlangıç ------------------------------------------- */
.giris
{
	width:100%;
	float: left;
	display: block;

}
.giris-div
{
	width: 300px;
	position: relative;
	display: block;
	margin:0 auto;
	margin-top:30px;
	padding-bottom:40px;
}
#kullaniciadi
{
	width: 100%;
	height: 40px;
	border-style: solid;
	border-width: 1px;
}
#sifre
{
	width: 100%;
	height: 40px;
	border-style: solid;
	border-width: 1px;
}
#mail
{
	width: 100%;
	height: 40px;
	border-style: solid;
	border-width: 1px;
}
#buton
{
	width: 100%;
	height: 40px;
	background-color: var(--temarengi);
	border:none;
	margin-top:20px;
	color:white;
}
#buton:hover
{
	background-color: #ff30a5;
}
#giris-buton
{
	width: 100%;
	height: 40px;
	background-color: var(--temarengi);
	border:none;
	margin-top:30px;
	margin-bottom:10px;
	color:white;
}
#giris-buton:hover
{
	background-color: #ff30a5;
}
#giris-sifremi-unuttum
{
	text-decoration: none;
	color:var(--baslikrenkleri);
}
#giris-sifremi-unuttum:hover
{
	text-decoration: underline;
}
#giris-yazilar
{
	font-family: var(--temayazitipi);
	font-size:24px;
	font-weight: bold;
}
#giris-yazilar-1
{
	padding-top:20px;
	font-family: var(--temayazitipi);
	font-size:14px;
	font-weight: lighter;
}
.hatadiv
{
	width: 100%;
	margin-top:20px;
}
#hatamesaj
{
	font-size:16px;
	font-family: var(--temayazitipi);
	font-weight: lighter;
	text-align: center;
	line-height: 20px;
	color:red;
	/*display:none;*/
}
#hatamesaj2
{
	font-family: var(--temayazitipi);
	font-size:16px;
	font-weight: lighter;
	text-align: center;
	line-height: 20px;
	color:red;
	display:none;
}
#dogrulamamesaji
{
	font-family: var(--temayazitipi);
	font-size:16px;
	font-weight: lighter;
	text-align: center;
	line-height: 20px;
	color:black;
	/*display:none;*/
}
.kayitol
{
	width:40%;
	height: 400px;
	float: left;
}
#sozlesme
{
	margin-top:15px;
}
#sozlesme a
{
	padding-left:5px;
}
/* ------------------------------------------- giriş.php,kayitol.php bitiş ------------------------------------------- */

/* ------------------------------------------- konuac.php başlangıç ------------------------------------------- */
#konuac
{
	width:100%;
	float: left;
	border-style: solid;
	border-width: 1px;
	border-color:#9b9b9b;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#konuac-baslik
{
	height: 50px;
	text-align:center;
	font-size:21px;
	background-color:var(--baslikrenkleri);
	font-family: (--temayazitipi);
	color:#FFFFFF;
	line-height: 50px;
}
#konuac-konubasligi
{
	width:70%;
	height: 35px;
	display: block;
	margin: auto;
	margin-top:20px;
}
#konuac-konuicerigi
{
	width:70%;
	height: 200px;
	display: block;
	resize: none;
	margin: auto;
	margin-top:20px;
}
#konuac-konuturu
{
	display: block;
	margin:0 auto;
	margin-top:20px;
}
#konuac-buton
{
	width:90px;
	height: 30px;
	display: block;
	margin: auto;
	margin-top:20px;
	margin-bottom:20px;
}
/* ------------------------------------------- konuac.php bitiş ------------------------------------------- */




/* ------------------------------------------- konular-content.php başlangıç ------------------------------------------- */
#konu /*konular-content.php içerisinde yer alıyor bu. konuyu açan kişiye ait otomatik oluşturulan div bu. bunu da inline hale getirebiliriz aslında.*/
{
	width:100%;
	position: relative;
	float: left;
	padding-top:15px;
	background-color: var(--temarengidivler);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#konular-konu-sil
{
	float:right;
	margin-right: 10px;
	width: 100px;
	height: 30px;
	border:0;
	background-color: #f2058f;
}
#konular-konu-sil a
{
	color:white;
	text-decoration: none;
	font-size:16px;
	font-family: var(--temayazitipi);
}
#konular-mesaj-sil
{
	float:right;
	width: 100px;
	height: 30px;
	border:0;
	background-color: #f2058f;
	margin-right: 10px;
	margin-bottom:10px;
}
#konular-mesaj-sil a
{
	color:white;
	text-decoration: none;
	font-size:16px;
	font-family: var(--temayazitipi);
}
#konular-yazar-baslik
{
	font-family:var(--temayazitipi);
	font-weight:bold;
	font-size:22px; 
	color:var(--konumesajrenkleri);
	text-align:left;
	word-wrap:break-word;
	padding-left:5px;
}
#konular-yazar-mesaj
{
	word-wrap:break-word;
	font-family:var(--temayazitipi);
	font-size:14px;
	white-space: pre-wrap;
	padding-left:5px;
	padding-right: 5px;
	color:var(--konumesajrenkleri);
}
.konular-yazar-kimlik-kapsayici
{
	float:left;
	position: absolute;
	bottom:20px;
	width: 100%;
}
#konular-yazar-kimlik
{
	width:100%;
	height: 20px;
	float:right;
}
#konular-yazar-kimlik-kimlik
{
	font-family:var(--temayazitipi);
	font-size:14px;
}
#konular-yazar-kimlik-kimlik a
{
	text-decoration: none;
	color:var(--temarengi);
	font-family:var(--temayazitipi);
	font-size:14px;
	padding-right: 10px;
	padding-bottom: 5px;
	float:right;
}
.konular-yazar-like-dislike
{
	float:left;
	padding-left:5px;
	margin-top:-5px;
}
.konular-yazar-like-dislike span a
{
	text-decoration: none;
	color:#2C8E18;
	font-family: var(--temayazitipi);
	font-weight: bold;
	font-size:14px;
}
#konular-yazar-ghost
{
	width: 100%;
	height: 40px;
	background-color: var(--arkaplanrenk);
	float: left;
}
.konular-kullanicimesajkapsayicisi
{
	width:100%;
	min-height: 100px;
	position: relative;
	float:left;
	padding-top:30px;
	background-color: var(--temarengidivler);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#konular-kullanicimesaj
{
	font-family:var(--temayazitipi);
	font-size:14px;
	font-weight: 400;
	color:var(--konumesajrenkleri);
	text-align:left;
	word-wrap:break-word;
	white-space: pre-wrap;
	padding-left:5px;
	padding-right: 5px;
}
.konular-kullanici-kimlik-kapsayici
{
	float:left;
	position: relative;
	width:100%;
	/*height: 20px;*/
	background-color: var(--arkaplanrenk);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
}
#konular-kullanici-kimlik
{
	
	
}
#konular-kullanici-kimlik-kimlik
{
	font-family:var(--temayazitipi);
	font-size:14px;
	float: right;
	padding-right: 10px;
}
#konular-kullanici-kimlik-kimlik a
{
	font-family:var(--temayazitipi);
	font-size:14px;
	text-decoration: none;
	font-weight: 300;
	color:var(--temarengi);
	float:right;
}
#like
{
	border:none;
	background-color: pink;
	height: 100%;
}
#dislike
{
	border:none;
	background-color: pink;
	height: 100%;
}
#konular-kullanici-ghost
{
	width: 100%;
	height: 40px;
	background-color: var(--arkaplanrenk);
	float: left;
}

/* ------------------------------------------- konular-content.php bitiş ------------------------------------------- */


/* ------------------------------------------- index-content.php başlangıç ------------------------------------------- */

#index-konu
{
	width:100%;
	position: relative;
	float: left;
	padding-top:15px;
	background-color: var(--temarengidivler);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	min-height: 100px;
}
#index-konu-baslik
{
	font-family:var(--temayazitipi);
	font-weight:bold; 
	font-size:22px;
	text-align:left;
	word-wrap: break-word;
	padding-left: 5px;
	padding-right: 5px;
}
#index-konu-baslik a
{
	text-decoration:none;
	color:var(--temarengi);
	padding-top:10px;
}
#index-konu-icerik
{
	color:var(--konumesajrenkleri);
	word-wrap:break-word;
	font-family:var(--temayazitipi);
	font-size:14px;
	white-space: pre-wrap;
	padding-left: 5px;
	padding-right: 5px;
	margin-top:20px;
	margin-bottom:40px;
}
#index-yazar-kimlik
{
	/*height:20px;*/
	position:absolute;
	bottom:0;
	right:0;
	float:right;
	padding-right: 5px;
}
#index-yazar-kimlik a
{
	font-family:var(--temayazitipi);
	font-size:14px;
	text-decoration: none;
	font-weight: 300;
	color:var(--temarengi);
	float:right;
	padding-bottom: 5px;
}
.index-ghost-div
{
	width:100%;
	height:40px;
	background-color:var(--arkaplanrenk);
	float: left;
}
/* ------------------------------------------- index-content.php bitiş ------------------------------------------- */

/* ------------------------------------------- iletisim-content.php başlangıç ------------------------------------------- */

#iletisim-kapsayici
{
	width:100%;
	padding-top:15px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: var(--temarengidivler);
	/*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
	border-style: solid;
	border-width: 1px;
	border-color: #9b9b9b;
	padding-bottom:40px;
}
#iletisim-baslik
{
	font-family: var(--temayazitipi);
	font-size: 28px;
	font-weight: bold;
}
#iletisim-icerik
{
	font-family: var(--temayazitipi);
	font-size: 16px;
	word-break: break-all;
}

/* ------------------------------------------- iletisim-content.php bitiş ------------------------------------------- */

/* ------------------------------------------- reklam-content.php başlangıç ------------------------------------------- */
#reklam-kapsayici
{
	width:100%;
	padding-top:15px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: var(--temarengidivler);
	/*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
	border-style: solid;
	border-width: 1px;
	border-color: #9b9b9b;
	padding-bottom:40px;
}
#reklam-baslik
{
	font-family: var(--temayazitipi);
	font-size: 28px;
	font-weight: bold;
}
#reklam-icerik
{
	font-family: var(--temayazitipi);
	font-size: 16px;
	word-break: break-all;
}
/* ------------------------------------------- reklam-content.php başlangıç ------------------------------------------- */

/* ------------------------------------------- adminpanel.php.php baslangic ------------------------------------------- */


#adminpaneli-baslik
{
    line-height: 50px;
    padding-left:5px;
    font-size:16px;
    color:#FFF;
    font-family: var(--temayazitipi);
}
#adminpaneli-girisyapankullanici-baslik
{
    display: block;
    padding-top:5px;
    padding-bottom:25px;
}
#adminpaneli-kullanici-islemleri-baslik
{
    font-size:16px;
    color:black;
    padding-bottom:10px;
}
#adminpaneli-kullanici-islemleri-input
{
    width: 100%;
    height: 30px;
    display: block;
}
#adminpaneli-kullanici-islemleri-buton
{
    width:100px;
    height: 30px;
    margin-top:10px;
    margin-bottom:20px;
    color:#FFFFFF;
    font-family: var(--temayazitipi);
    border:none;
    background-color: var(--temarengi);
    display: block;
    float:right;
}
.adminpaneli-kullanicisorgusu-basliklar
{
    font-size:14px;
    font-family: var(--temayazitipi);
}
.adminpaneli-kullanicisorgusu-islemler-kapsayici
{
}
.adminpaneli-kullanicisorgusu-islemler-baslik
{
    font-size:16px;
    color:black;
    padding-bottom:10px;
}
.adminpaneli-profilloglari
{
	font-size: 13px;
	font-family: var(--temayazitipi);
	padding-top: 10px;
}

/* ------------------------------------------- adminpanel.php.php bitis ------------------------------------------- */

/* ------------------------------------------- profil-content.php baslangic ------------------------------------------- */

.profil-yorum-basliklari
{
	font-size:22px;
	padding-top:35px;
	color:var(--temarengi);
	clear:both;
}
.profil-yorum-div
{
	width:100%;
	position: relative;
	float:left;
	padding-top:25px;
	background-color: #eeeeee;
	/*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
}
.profil-yorum-div a
{
	text-decoration: none;
}
.profil-yorum-div-baslik
{
	font-family:var(--temayazitipi);
	font-weight: bold;
	font-size:22px;
	padding-left: 5px;
	color:black;
	text-align:left;
	word-wrap:break-word; 
}
.profil-yorum-div-mesaj
{
	font-family:var(--temayazitipi);
	font-weight: lighter;
	white-space: pre-wrap;
	padding-left: 5px;
	padding-right: 5px;	
	font-size:14px;
	color:black;
	text-align:left;
	word-wrap: break-word;
}
.profil-yorum-div-kimlik-kapsayici
{
	width:100%;
	height:20px;
	position:relative; 
	float:left; 
	padding-top:25px; 
	background-color: #eeeeee;
	/*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;*/

}
.profil-yorum-div-kimlik-kimlik
{
	width:300px;
	height: 20px;
	position: absolute; 
	bottom: 0; 
	right: 0; 
	float: right;
}
.profil-yorum-div-kimlik-kimlik h3
{
	font-family:var(--temayazitipi);
	font-size:14px;
	float: right;
	padding-right: 10px;
}
.profil-yorum-div-kimlik-kimlik h3 a
{
	text-decoration: none;
	font-weight: 400; 
	color:var(--temarengi);
}
.profil-yorum-div-ghost
{
	width: 100%;
	height: 40px;
	float: left;
}
.profil-bar
{
	width:100%;
	min-height: 130px;
	margin-left:10px;
	float:right;
	border-style: solid;
	border-width: 1px;
	border-color:#9b9b9b;
	/*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
	padding:5px;
}
.pp
{
	width: 120px;
	height: 120px;
	object-fit:cover;
	object-position: 50%,50%;
	float:left;
	border-style:solid;
	border-width:2px;
	border-radius: 0%;
	/*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
	display: block;
}
.profil-user-kapsayici
{
	width: 100%;
	float:left;
	height: 100%;
	position: relative;
}
.pp-user-bilgisi-baslik
{
	font-family:var(--temayazitipi);
	font-size:18px;
	padding-left:20px;
	color:var(--temarengi);
}
.profil-user-bilgisi-altbasliklar
{
	font-family:var(--temayazitipi);
	font-size:14px;
	color:var(--baslikrenkleri);
	padding-left:20px;
}
.profil-dmbutton
{
	width:100px;
	height: 30px;
	margin-left:20px;
	padding:2px;
	border:none;
	color:white;
	font-family: var(--temayazitipi);
	font-size:16px;
	background-color:var(--temarengi);
}
.profil-hakkinda
{
	width:100%;
	min-height: 100px;
	padding-top:10px;
	margin-top:30px;
	clear:both;
	float:left;
	border-style: solid;
	border-width: 1px;
	border-color:#9b9b9b;
	/*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
}
#profil-hakkinda-baslik
{
	font-size:18px;
	text-align: center;
	color:var(--temarengi);
	font-family:var(--temayazitipi);
}
#profil-hakkinda-hakkinda
{
	font-size:15px;
	padding-left:10px;
	padding-top:10px; 
	color:black;
	word-wrap:
	break-word;
	white-space: pre-wrap;
	font-family:var(--temayazitipi);
	font-weight: lighter; 
}

#profil-alan-kapsayicisi
{
	width:100%;
	min-height: 200px;
	padding-top:10px;
	margin-top:30px;
	clear:both;
	float:left;
	border-style: solid;
	border-width: 1px;
	border-color:#9b9b9b;
	/*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
}
.profil-alan-kapsayicisi-icerik-kapsayicisi
{
}
.profil-alan-kapsayicisi-icerik-baslik
{
	font-size:22px;
	font-weight: bold;
	font-family: var(--temayazitipi);
	padding-left:10px;
}
.profil-alan-kapsayicisi-icerik-baslik a
{
	text-decoration: none;
	color:black;
}
.profil-alan-kapsayicisi-icerik
{
	min-height: 100px;
	padding-top:20px;
	font-size:14px;
	font-family: var(--temayazitipi);
	padding-left:10px;
	padding-right: 10px;
	white-space: pre-line;
	word-wrap: break-word;
}
.profil-alan-kapsayicisi-userkimlik
{
	width:100%;
	height: 30px;
	padding-bottom: 40px;
	margin-top:10px;
}
.profil-alan-kapsayicisi-userkimlik-kimlik
{
	float: right;
	padding-right: 10px;
	font-size:14px;
	font-family: var(--temayazitipi);
	color:var(--temarengi);
}
.profil-alan-kapsayicisi-userkimlik-kimlik a
{
	text-decoration: none;
	color:var(--temarengi);
}
#profil-profil-yorumlari-kapsayicisi
{
	width:100%;
	min-height: 200px;
	padding-top:10px;
	margin-top:30px;
	clear:both;
	float:left;
	border-style: solid;
	border-width: 1px;
	border-color:#9b9b9b;
	/*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
}
#profil-profil-yorumlari-baslik
{
	font-size:20px;
	font-family: var(--temayazitipi);
	color:var(--temarengi);
	padding-left:5px;
	padding-top:5px;
	font-weight: lighter;
}
#profil-alan-kapsayicisi-basliq
{
	padding-left:10px;
	color : var(--temarengi);
	padding-bottom:25px;
	font-size:24px;
	font-family: var(--temayazitipi);
	font-weight: bold;
}
#profil-takip-et-buton
{
	border: none;
	background-color: var(--temarengi);
	font-family: var(--temayazitipi);
	font-size: 15px;
	width: 130px;
	height: 30px;
	margin-left:20px;
}
#profil-takip-et-buton:hover
{
	background-color: var(--temarengihover);
}
#profil-takip-et-buton a
{
	text-decoration: none;
	color: white;
	display: block;
}
/* ------------------------------------------- profil-content.php bitis ------------------------------------------- */

/* ------------------------------------------- profilim-content.php baslangic ------------------------------------------- */
.profilim-ozellestir-kapsayici
{
	width:100%;
	min-height: 300px;
	padding-top:10px;
	margin-top:40px;
	margin-bottom:40px;
	clear:both;
	float:left;
	border-style: solid;
	border-width: 1px;
	border-color:#9b9b9b;
	/*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
}
#profilim-ozellestir-form
{
	width:100%;
	display: block;
}
#profilim-ozellestir-baslik
{
	font-size:24px;
	text-align: center;
	padding-top:15px;
	font-family:var(--temayazitipi);
}
#profilim-ozellestir-textarea
{
	resize:none;
	width:90%;
	display:block;
	margin:0 auto;
	height: 150px;
}
#profilim-ozellestir-ppdegistir
{
	width:90%;
	margin:0 auto;
	margin-top:10px;
}
#profilim-ozellestir-ppdegistir-butonkapsayici
{
	width:90%;
	display: block;
	margin:0 auto;
}
#profilim-ozellestir-ppdegistir-butonkapsayici-buton
{
	width:90px;
	height:35px;
	margin-bottom:10px;
	float:right;
	border:none;
	background-color: var(--temarengi);
	font-family: var(--temayazitipi);
	font-size:16px;
	color:#FFFFFF;
}
#profilim-ozellestir-ppdegistir-butonkapsayici-buton:hover
{
	background-color: var(--temarengihover);
}
#profilim-sifre-degistir-kapsayici
{
	width:90%;
	height:200px;
	margin:0 auto;
	margin-top:15px;
	margin-bottom:25px;
}
#profilim-sifre-degistir-baslik
{
	width: 100%;
	height: 30px;
	line-height: 30px;
	color:var(--baslikrenkleri);
	font-family: var(--temayazitipi);
	font-weight: bold;
	font-size:18px;
	text-align: center;
	background-color: lightgrey;
}
.profilim-sifre-degistir-input-alanlari
{
	display: block;
	margin:0 auto;
	margin-top:20px;
	border-style: solid;
	border-width: 1px;
	width: 200px;
	height: 35px;
}
#profilim-sifre-degistir-buton
{
	display: block;
	width: 200px;
	height: 35px;
	margin:0 auto;
	margin-top:20px;
	border:none;
	background-color: var(--temarengi);
	font-family: var(--temayazitipi);
	font-size:16px;
	color:#FFFFFF;
}
#profilim-sifre-degistir-buton:hover
{
	background-color: var(--temarengihover);
}
/* ------------------------------------------- profilim-content.php bitis ------------------------------------------- */